@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root {
    --color-main: #f6f7fb;
    --color-dark: #1d3557;
    --color-light: #0be2ea;
    --color-dg-navy: #1368B1;
    --color-green: #79C344;
    --transition: .3s;
    --transition2: .5s;
}

body {
    overflow-x: hidden;
    background-color: var(--color-main);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 12%;
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /*background-image: url(img/hero3.jpg);*/
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    background-color: var(--color-main);
}

.sticky_nav {
    z-index: 1000;
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-main);
    transition: var(--transition2);
    transform: translateY(-100px);
    opacity: 0;
    animation: fade .3s forwards linear;
}
@keyframes fade {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 20%;
    height: 4rem;
}

.logo a {
    font-size: 1.5rem;
    color: #1d3557;
    font-weight: 600;
}

.logo img {
    width: 30%;
    height: 100%;
   /* width: 3rem;
    height: 75%;*/
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-dark);
    transition: var(--transition);
}

.menu li a:hover {
    color: var(--color-light);
}

.social_icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social_icon i {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-dg-navy);
    transition: var(--transition);
}

.social_icon i:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
    cursor: pointer;
}

.menu_bars {
    display: none;
}

.hero_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 5% 12%;
    height: 80vh;
}

.hero_content h1 {
    width: 140%;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--color-dark);
}

.hero_content h1 span {
    font-weight: 500;
    color: var(--color-dg-navy);
}

.hero_content h2 {
    width: 140%;
    color: var(--color-dg-navy);
    font-size: 1rem;
    font-weight: 500;
}

.hero_content p {
    color: hsl(0, 0%, 45%);
    font-size: 1.1rem;
    font-weight: 400;
}

button {
    width: 150px;
    height: 50px;
    background-color: var(--color-dg-navy);
    color: #f6f7fb;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);
}

button:hover {
    box-shadow: 0 0 20px rgba(34, 34, 34, 0.7);
    cursor: pointer;
}

.hero_content button {
    margin: 20px 0;
}

.about {
    gap: 50px;
    flex-direction: column;
}

.about_content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 25px;
}

.about_content h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-dark);
}

.about_content h1 span {
    color: var(--color-dg-navy);
}

.about_content p {
    font-size: 1.1rem;
    color: hsl(0, 0%, 45%);
    font-weight: 400;
    line-height: 25px;
}

.about_content button {
    margin: 20px 0;
    width: 200px;
    background-color: var(--color-main);
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
}

.about_content button:hover {
    background-color: var(--color-dark);
    color: var(--color-main);
}

.about_bottom {
    width: 110%;
    height: 0;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: start;
    place-items: start;
    transition: var(--transition2) !important;
}

.show_diff {
    height: 100%;
    opacity: 1;
}

.diff_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 30px;
    border: 1.5px solid #1367b1d6;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(60, 60, 60, 0.2);
}

.diff_box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-dg-navy);
}

.services {
    flex-direction: column;
    background-color: hsl(220, 7%, 95%);
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.headings h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-dark);   
}

.headings p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-dark);
}

.services_cards {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.service_card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.service_card i {
    font-size: 1.9rem;
    width: 140px;
    height: 65px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--color-dg-navy);
    color: var(--color-dg-navy);
    transition: var(--transition);
}

.service_card:hover i {
    background-color: var(--color-dg-navy);
    color: var(--color-main);
    cursor: pointer;
}

.service_card_det {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.service_card_det h2{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dg-navy);
}

.service_card_det p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-dark);
}


.contact {
    flex-direction: column;
    gap: 50px;
}

.address_det {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    place-content: center;
    place-items: center;
}

.address_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.address_box i {
    font-size: 2.5rem;
    color: var(--color-dg-navy);
    width: 65px;
    height: 65px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.address_box:hover i {
    background-color: var(--color-dg-navy);
    color: var(--color-main);
}

.address_box h2 {
    font-weight: 500;
    color: var(--color-dg-navy);
}

.address_box p {
    font-weight: 500;
    color: var(--color-dark);
}

.footer {
    padding: 3% 12%;
    background-color: var(--color-dark);
    /*justify-content: space-between;*/
}

.footer p {
    color: var(--color-main);
    font-size: 1rem;
    font-weight: 400;
}

.footer p span {
    font-weight: 600;
    transition: var(--transition);
}

.footer p span:hover {
    color: var(--color-light);
    cursor: pointer;
}